node_modules
minified
temp
build-temp
builds
backup
pipeline-log.txt
config-sw.js
filesToCache.js
/index.html
/sitemap.xml
/robots.txt
/.htaccess
/sftp-config.js
/dist
.gitkeep
config.js
pipeline-config.js
pipeline.lock